/*FONTS*/

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 25pt;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    animation-name: loadh;
    animation-duration: 1s;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 12pt;
}

p {
    font-family: 'Niramit', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 10pt;
}

a {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 600 !important;
    font-size: 12pt !important;
    text-transform: uppercase;
}

form {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

/*COLORS*/

.container {
    background-color: #F4E5D7;
}

:root {
    --primary: #E16D69;
    --success: #C4D44B;
    --warning: #E8BC56;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: var(--success) !important;
}

.bg-warning {
    background-color: var(--warning);
}

.nav-link:focus,
.nav-link:hover {
    background-color: var(--success) !important;
}

/*MOBILE*/

.card {
    width: 100%;
}

.second {
    display: none;
}

.inputs {
    width: 100%;
}

.card-img-overlay .card-text {
    display: none;
}

.contact {
    margin-top: 20px;
}

.socials img {
    height: 40px;
    opacity: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer p {
    margin: 0 !important;
}

/*DESKTOP*/

@media screen and (min-width:800px) {
    
    /*FONTS*/
    h1 {
        font-size: 30pt;
    }

    h2 {
        font-size: 20pt;
    }

    p {
        font-size: 12pt;
    }

    a {
        font-size: 15pt !important;
    }

    /*DISPLAY*/

    .card-img-overlay .card-text{
        display: flex;
    }

    .socials img {
        height: 60px;
        opacity: 50%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .copy {
        height: 20px;
    }

}