/*FONTS*/

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 16pt;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 12pt;
}

p {
    font-family: 'Niramit', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 10pt;
}

a {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 600 !important;
    font-size: 12pt !important;
    text-transform: uppercase;
}

form {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

/*COLORS*/

.container {
    background-color: #F4E5D7;
}

:root {
    --primary: #E16D69;
    --success: #C4D44B;
    --warning: #E8BC56;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: var(--success) !important;
}

.bg-warning {
    background-color: var(--warning);
}

.nav-link:focus,
.nav-link:hover {
    background-color: var(--success) !important;
}

/*MOBILE*/

.card {
    width: 100%;
}

.inputs {
    width: 100%;
}

.card-img-overlay .card-text {
    display: none;
}

.contact {
    padding: 10px;
    margin: 10px;
}

.socials img {
    height: 40px;
    opacity: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

footer p {
    margin: 0 !important;
}